body{
  background-color: #E8E8E8;
}
header{
  width: 90%;
  height: 83px;
  background-color: #fff;
  margin: auto;
  

}
main{
  width: 90%;
  height: 1000px;
  background-color: #FFFFFF;
  border:1px dashed #000;
  margin: auto;
}
footer{
  width: 90%;
  height: 397px;
  background-color: #FFFFFF;
  border:1px dashed black;
  margin: auto;
}
